html {
    margin:0;
    padding:0;
    border:0;
}

body {
    color:black;
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
}

/***********************************************/
/* link styles                                 */
/***********************************************/
a, a:visited, a:hover, a:active {
    color: inherit;
}

/***********************************************/
/* division styles                             */
/***********************************************/
#banner-div {
    text-align:center;
}
#page-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clear-div {
    clear:both;
}
#left-div {
    float:left;
    width:20%;
}
#right-div {
    float:right;
    width:80%;
}

/***********************************************/
/* paragraph styles                            */
/***********************************************/
.cent {
    text-align:center;
}
.heads {
    font-family:arial,sans-serif;
    font-size:1.2em;
    text-align:left;
}
.curr_page {
    color:#F4F4F4;
    font-weight:bolder;
    text-shadow:black;
    border:1px solid #F4F4F4;
}

/* new classes by P2508450 */

/* navbar styles */

#navbar{
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

#navbar .nav-item {
    width: 120px;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .nav-item:hover {
    background-color: #cc0066;
}

#navbar .nav-item a {
    text-align: center;
}

.info-div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 200px;
    width: 100%;
}

.info-div p {
    color: #fff;
}

.result-container{
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #555;
}

.result-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#send-result-text {
    margin: 1rem 0 4rem 0;
}

.vert-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horiz-div {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 1rem;
    background-color: #cc0066;
    display: inline-block;
    margin: auto;
}

.button-rounded {
    background-color: #cc0066;
    border-radius: 5px;
    color: white;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin: 1rem;
}

.button-rounded:hover {
    transition: 0.5ms;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px black;
}

/* Table styles P2508450*/

.telemetry-readings {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0px 20px 40px 20px;
}

.telemetry-readings td, #customers thead {
    border: 1px solid #ddd;
    padding: 8px;
}

.telemetry-readings tr:nth-child(even){
    background-color: #f2f2f2;
}

.telemetry-readings tr:hover {
    background-color: #cc0066;
}

.telemetry-readings thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cc0066;
    color: white;
}

.telemetry-readings.small {
    width: 600px;
}