{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <p>{{ page_text }}</p>
        <p>Select option</p>
        <p><a href="{{ download_data }}">Download Stock Data</a></p>
        <p><a href="{{ selectcompanytodisplay }}">Display Stored Company Data</a></p>
        <br />
    </div>
{% endblock %}
