{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
<div id="banner-div">
    <div id="navbar">
        <div class="nav-item"><a href="Hello">Hello</a></div>
        <div class="nav-item"><a href="Hello">Hello</a></div>
        <div class="nav-item"><a href="Hello">Hello</a></div>
    </div>
</div>
<div id="clear-div"></div>
{% endblock %}