{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
<div id="banner-div">
    <div id="navbar">
        {% for title, link in nav_links %}
            <div class="nav-item"><a href={{ link }}>{{ title }}</a></div>
        {% endfor %}
    </div>
</div>
<div id="clear-div"></div>
{% endblock %}