{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <p> {{ page_text_1 }}</p>
        <div class="menu-div">
            <div>
                <p> Empty </p>
            </div>
            <a href={{ home_page }}> {{ button_text_back }} </a>
        </div>
    </div>
{% endblock %}
