{% extends 'banner.html.twig' %}

{% block footer %}
<div id="footer-div">
    <p>
        <a href="https://validator.w3.org/check?uri=referer"><img
                    src="http://www.w3.org/Icons/valid-html401-blue"
                    alt="Valid HTML!" height="31" width="88" /></a>
    </p>
</div>
{% endblock %}