<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="{{ css_path }}" type="text/css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block banner %}{% endblock %}
{% block content %}{% endblock %}
<div id="footer-div">
    <p>
        <a href="https://validator.w3.org/check?uri=referer"><img
                    src="http://www.w3.org/Icons/valid-html401-blue"
                    alt="Valid HTML!" height="31" width="88" /></a>
    </p>
</div>
</body>
</html>